{{- if and (.Get "sitevar").Params.iubenda.color (and (ne (.Get "sitevar").Params.iubenda.color "black") (ne (.Get "sitevar").Params.iubenda.color "white")) -}}
    {{- errorf "%s is not a valid Iubenda button color - valid values are unset, \"black\", or \"white\"" (.Get "sitevar").Params.iubenda.color -}}
{{- end -}}

{{- .Set "iub_color" (.Get "sitevar").Params.iubenda.color -}}
{{- if and (ne (.Get "sitevar").Params.iubenda.color "black") (ne (.Get "sitevar").Params.iubenda.color "white") -}}
    {{- partial "css/color/parse_color" . -}}
    {{- .Set "label" "alt_bg" -}}
    {{- partial "css/color/detect_light_or_dark" . -}}
    {{- if (.Get "alt_bg_is_dark") -}}
        {{ .Set "iub_color" "white" }}
    {{ else }}
        {{ .Set "iub_color" "black" }}
    {{ end }}
{{- end -}}
