# Hugo default output directory
/public
deploy-target/

# Hugo gen dir
/resources

# Hugo lock file
.hugo_build.lock

# VSC Config
.vscode/

## OS Files
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
