{{- $name := $.Scratch.Get "widget_name" -}}

{{- $sidebar := $.Site.Params.sidebar -}}
{{- $mnsidebar := $.Site.Params.Midnight.sidebar -}}

{{- if (not (isset $.Site.Params "sidebar")) -}}
    {{- $sidebar = $mnsidebar -}}
{{- else if (not (isset $.Site.Params.sidebar $name)) -}}
    {{- $sidebar = $mnsidebar -}}
{{- else if (not (isset (index $.Site.Params.sidebar $name) "path")) -}}
    {{- $sidebar = $mnsidebar -}}
{{- end -}}

{{- if eq nil $sidebar -}}
    {{- errorf "Sidebar widget definitions are nil: %#v" $sidebar -}}
{{- else if eq nil (index $sidebar $name) -}}
    {{- errorf "Could not find definition for widget: %s" $name -}}
{{- end -}}

{{- $.Scratch.Set "widget" (index $sidebar $name) -}}
