<div class="widget">
    {{ $posts := "" }}
    {{ if $.Site.Params.sidebar }}
        {{ if $.Site.Params.sidebar.recent }}
            {{ if $.Site.Params.sidebar.recent.section }}
                {{ with $.Site.Params.sidebar.recent.section }}
                    {{ if ($.Site.GetPage .) }}
                        {{ $posts = . }}
                    {{ else }}
                        {{ errorf "Could not find section %s" . }}
                    {{ end }}
                {{ end }}
            {{ end }}
        {{ end }}
    {{ end }}

    {{ if eq $posts "" }}
        {{ if ($.Site.GetPage "/news") }}
            {{ $posts = "news" }}
        {{ else if ($.Site.GetPage "/posts") }}
            {{ $posts = "posts" }}
        {{ else if ($.Site.GetPage "/post") }}
            {{ $posts = "post" }}
        {{ end }}
	{{ end }}
	<header>
		<span class="widget-header"><span class="fas fa-pencil-alt fa-xs" aria-hidden></span> <a href="{{ partial "make_link" (dict "URL" (printf "%s/" $posts) "Root" $) }}">{{ i18n "recentPostsLabel" | title }}</a></span>
	</header>
	{{ $url := .Permalink }}
	{{- range $format := ($.Site.GetPage "/").OutputFormats -}}
		{{ if eq $format.Name "RSS" }}
			<a class="widget-header-small button" href="{{ partial "make_link" (dict "URL" "/index.xml" "Root" $) }}"><span class="fas fa-rss fa-xs" aria-hidden></span> {{ i18n "rssSiteSubscribe" | title }}</a>
		{{ end }}
	{{- end -}}

	{{ if or (or (eq .Kind "section") (eq .Kind "taxonomy")) (eq .Kind "taxonomyTerm") -}}
		{{- $this := . -}}
		{{- range $format := .OutputFormats -}}
			{{- if eq $format.Name "RSS" -}}
				<a class="widget-header-small button" href="{{ partial "make_link" (dict "URL" (printf "%s/index.xml" $this.URL) "Root" $) }}"><span class="fas fa-rss fa-xs" aria-hidden></span> {{ i18n "rssSectionSubscribe" $this.LinkTitle | title }}</a>
			{{- end -}}
		{{- end -}}
	{{- else if .IsPage -}}
	{{- $sectionstr := trim (replaceRE "[^/]+$" "" (trim (replace .Permalink .Site.BaseURL "") "/")) "/" -}}

	{{- $section := "" -}}
	{{- $sectionok := true -}}
	{{- range $piece := split $sectionstr "/" -}}
		{{- if $sectionok -}}
			{{- /*Build the closest section*/ -}}
			{{- if eq $section "" -}}
				{{- $section = $piece -}}
			{{- else if ($.Site.GetPage (printf "%s/%s" $section $piece)) -}}
				{{- $section = add $section "/" -}}
				{{- $section = add $section $piece -}}
			{{- else -}}
				{{- $sectionok = false -}}
			{{- end -}}
		{{- end -}}
	{{- end -}}

	{{- $section := (.Site.GetPage $section) -}}
	{{- if ne (trim $section.URL "/") "" -}}
		{{- range $format := $section.OutputFormats -}}
			{{- if eq $format.Name "RSS" -}}
			<a class="widget-header-small button" href="{{ partial "make_link" (dict "URL" (printf "%s/index.xml" $section.URL) "Root" $) }}"><span class="fas fa-rss fa-xs" aria-hidden></span> {{ i18n "rssSectionSubscribe" $section.LinkTitle | title }}</a>
			{{- end -}}
		{{- end -}}
	{{- end -}}
	{{- end -}}
	<ul>
		{{- range first 10 (where .Site.Pages "Section" $posts) -}}
		{{ if .IsPage }}<li><a href="{{ partial "make_link" (dict "URL" .RelPermalink "Root" $) }}">{{ .Title }}</a></li>{{ end }}
		{{- end -}}
	</ul>
</div>
