{{ partial "script" (dict "Src" "https://cdn.jsdelivr.net/npm/katex@0.10.0-beta/dist/katex.min.js" "Integrity" "sha384-U8Vrjwb8fuHMt6ewaCy8uqeUXv4oitYACKdB0VziCerzt011iQ/0TqlSlv8MReCm" "CrossOrigin" "anonymous" "Defer" true "Root" $) }}
{{ partial "script" (dict "Src" "https://cdn.jsdelivr.net/npm/katex@0.10.0-beta/dist/contrib/auto-render.min.js" "Integrity" "sha384-aGfk5kvhIq5x1x5YdvCp4upKZYnA8ckafviDpmWEKp4afOZEqOli7gqSnh8I6enH" "CrossOrigin" "anonymous" "Defer" true "Root" $) }}
{{ partial "script" (dict "Asset" "js/shortcodes/katex.js" "Defer" true "Root" $) }}

