{{ partial "matomo/foot.html" . }}
{{ partial "iubenda/foot.html" . }}

{{- partial "script" (dict "Asset" "js/jquery.slim.js" "Defer" true "Root" $) -}}
{{- partial "script" (dict "Asset" "js/foundation.js" "Defer" true "Root" $) -}}

{{ if $.Site.Params.thumbnail -}}
    {{- partial "script" (dict "Asset" "js/thumbnail.js" "Defer" true "Root" $) -}}
{{- end -}}

{{- partial "shortcodes/partial.html" (dict "Prop" "foot" "Root" $) -}}

{{- partial "sidebar/partial.html" (dict "Prop" "foot" "Root" $) -}}

{{- partial "comments/partial.html" (dict "Prop" "foot" "Root" $) -}}

{{- partial "plugins/partial.html" (dict "Prop" "foot" "Root" $) -}}

{{- partial "script" (dict "Asset" "js/index.js" "Defer" true "Root" $) -}}

{{- if ($.Scratch.Get "has_async_css") -}}
{{- partial "script" (dict "Asset" "js/relpreload.js" "Root" $ "Defer" false) -}}
{{- partial "script" (dict "Asset" "js/loadCSS.js" "Root" $ "Defer" false) -}}
{{- partial "script" (dict "Asset" "js/asyncCSS.js" "Root" $ "Defer" false) -}}
{{- end -}}
