{{- partial "get_member" . -}}
{{- with ($.Scratch.Get "member") -}}
<div {{ if $.IsAuthor }}id="authorbox" {{ end }}class="grid-x grid-padding-x vcenter memberbox{{ if $.NoBorder }} no-border{{ end }}" {{ with $.ItemProp }}itemprop="{{ . }}" itemscope {{ end }}itemtype="http://schema.org/Person">
    <div class="cell shrink member-avatar" itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
        {{ $profile := "images/profile.jpg" }}
        {{ with .Img }}{{ $profile = . }}{{ end }}
        {{ $img := resources.Get $profile }}
        {{ $img := $img.Fill "90x90 Lanczos" }}
        <img alt="{{ .Name }} avatar" src="{{ $img.RelPermalink }}" itemprop="contentUrl" />
    </div>
    <div class="cell auto member-bio">
      <div>
        <span class="widget-title">{{ i18n "aboutLabel" | title }} {{ with .Permalink }}<a href="{{ partial "make_link" (dict "URL" . "Root" $) }}" {{ if $.IsAuthor }}rel="author"{{ end }}>{{ end }}<span itemprop="name">{{ .Name }}</span>{{ if .Permalink }}</a>{{ end }}</span>
      </div>
      <p itemprop="description">
        {{- .Bio | markdownify -}}
      </p>
      <div class="social grid-x">
        {{ partialCached "social-icons.html" (dict "Scratch" $.Scratch "Social" .social "IsMember" true "Name" .Name) .Name }}
      </div>
    </div>
</div>
{{- end -}}
