<div class="grid-x grid-padding-x">
  <div class="cell small-text-center medium-4 medium-text-right">
    <label for="{{- .Get "id" -}}">{{- .Get "label" -}}</label>
  </div>
  <div class="cell small-text-center medium-8 medium-text-left">
    {{- $types := slice "color" "date" "datetime-local" "email" "file" "hidden" "month" "number" "password" "range" "tel" "text" "time" "url" "week" "textarea" -}}
    {{- $type := .Get "type" -}}
    {{- $id := .Get "id" -}}
    {{- $name := (.Get "name" | default $id) -}}
    {{- $placeholder := (.Get "placeholder" | default "") -}}
    {{- $minlen := (.Get "minlength" | default "") -}}
    {{- $maxlen := (.Get "maxlength" | default "") -}}
    {{- $regex := (.Get "regex" | default "") -}}
    {{- $value := (.Get "value" | default "") -}}

    {{- if gt (len (findRE "([^a-zA-Z0-9_\\-\\.])+" $id 1)) 0 -}}
      {{- errorf "(%s) ID \"%s\" should not contains characters other than ASCII letters, digits, '_', '-', and '.'" .Position $id -}}
    {{- else if not (in $types $type) -}}
      {{- if or (eq $type "checkbox") (eq $type "radio") -}}
        {{- errorf "(%s) To use input type \"%s\", use the mult-input shortcode instead." .Position $type -}}
      {{- else -}}
        {{- errorf "(%s) Input type \"%s\" for ID \"%s\" is invalid/not allowed.\nValid values are: " .Position $type $id (delimit $types ", ") -}}
      {{- end -}}
    {{- else if ne (len (findRE "^(\\d)*$" $minlen)) 1 -}}
      {{- errorf "(%s) Minimum length \"%s\" must be a whole number!" .Position $minlen -}}
    {{- else if ne (len (findRE "^(\\d)*$" $maxlen)) 1 -}}
      {{- errorf "(%s) Maximum length \"%s\" must be a whole number!" .Position $maxlen -}}
    {{- end -}}

    {{- $optional := "" -}}
    {{- with $placeholder -}}{{- $optional = add $optional (add (add " placeholder=\"" .) "\"") -}}{{- end -}}
    {{- with $regex -}}{{- $optional = add $optional (add (add " pattern=\"" .) "\"") -}}{{- end -}}
    {{- with $value -}}{{- $optional = add $optional (add (add " value=\"" .) "\"") -}}{{- end -}}
    {{- with $minlen -}}{{- $optional = add $optional (add (add " minlength=\"" .) "\"") -}}{{- end -}}
    {{- with $maxlen -}}{{- $optional = add $optional (add (add " maxlength=\"" .) "\"") -}}{{- end -}}

    {{- if or (or (eq $type "number") (eq $type "date")) (eq $type "range") -}}
      {{- $min := (.Get "min" | default "") -}}
      {{- $max := (.Get "max" | default "") -}}
      {{- $step := (.Get "step" | default "") -}}
      {{- with $min -}}{{- $optional = add $optional (add (add " min=\"" .) "\"") -}}{{- end -}}
      {{- with $max -}}{{- $optional = add $optional (add (add " max=\"" .) "\"") -}}{{- end -}}
      {{- with $step -}}{{- $optional = add $optional (add (add " step=\"" .) "\"") -}}{{- end -}}
    {{- else if eq $type "file" -}}
      {{- $accepts := .Get "accept" -}}
      {{- $optional = add $optional (add (add " accept=\"" $accepts) "\"") -}}
    {{- else if or (eq $type "file") (eq $type "email") -}}
      {{- if eq (.Get "multiple") "true" -}}
        {{- $optional = add $optional " multiple" -}}
      {{- end -}}
    {{- end -}}

    {{- if eq (.Get "required") "true" -}}
      {{- $optional = add $optional " required" -}}
    {{- end -}}

    {{- if eq $type "textarea" -}}
      <textarea id="{{ $id }}" name="{{ $id }}" rows="10"{{ ($.Scratch.Get "optional-tags" | safeHTMLAttr) }}></textarea>
    {{- else if (in $types $type) -}}
      <input type="{{ $type }}" id="{{ $id }}" name="{{ $id }}"{{ ($.Scratch.Get "optional-tags" | safeHTMLAttr) }} />
    {{- else -}}
      {{ errorf "(%s) If you are seeing this, please let the developer know at https://dev.shadow53.com/maniphest/\nInvalid input type \"%s\"" .Position $type }}
    {{- end -}}
  </div>
</div>
