{{- if not $.Site.IsServer -}}
{{- if $.Site.Params.matomo -}}
    {{- if $.Site.Params.matomo.host -}}
        {{- .Scratch.Set "matomo_host" $.Site.Params.matomo.host -}}
    {{- end -}}
    {{- if $.Site.Params.matomo.enable -}}
        {{- .Scratch.Set "matomo_enable" $.Site.Params.matomo.enable -}}
    {{- end -}}
    {{- if $.Site.Params.matomo.track_nojs -}}
        {{- .Scratch.Set "matomo_track_nojs" $.Site.Params.matomo.track_nojs -}}
    {{- end -}}
    {{- if $.Site.Params.matomo.enable_optout -}}
        {{- .Scratch.Set "matomo_enable_optout" $.Site.Params.matomo.enable_optout -}}
    {{- end -}}
    {{- if $.Site.Params.matomo.enable_ajax -}}
        {{- .Scratch.Set "matomo_enable_ajax" $.Site.Params.matomo.enable_ajax -}}
    {{- end -}}
    {{- if $.Site.Params.matomo.site_id -}}
        {{- .Scratch.Set "matomo_site_id" $.Site.Params.matomo.site_id -}}
    {{- else -}}
        {{- .Scratch.Set "matomo_site_id" 1 -}}
    {{- end -}}
{{- else if $.Site.Params.piwik -}}
    {{- errorf "Params.piwik is deprecated - use Params.matomo instead" -}}
{{- end -}}

{{ if and (.Scratch.Get "matomo_enable") (.Scratch.Get "matomo_host") -}}
    <link rel="dns-prefetch" href="{{ .Scratch.Get "matomo_host" }}" />
    <link rel="preconnect" href="{{ .Scratch.Get "matomo_host" }}" />
{{- end -}}
{{- end -}}
