.tabs {
    background-color: var(--color-bg-alt);
    border: none;
    border-bottom: 1px solid var(--color-bg-main);
}

.tabs a {
    color: var(--color-fg-alt);
}

.tabs .is-active a, #site-container .tabs a:hover, #site-container .tabs a:active, #site-container .tabs a:focus {
    color: var(--color-fg-accent);
    background-color: var(--color-bg-accent);
    text-decoration: none;
}

.tabs-content pre {
    /*padding: 0;*/
    border: 1px solid var(--color-fg-alt);
}

.tabs-content {
    background-color: var(--color-bg-alt);
    color: var(--color-fg-alt);
    border: none;
}

.tabgroup {
    margin-bottom: 1rem;
}