{{ define "main_content" }}
<main id="post-list" class="cell{{ if not (or .Site.Params.sidebar.disable .Params.sidebar.disable) }} medium-8{{ end }}">
    {{- if not .IsHome -}}
		<header id="page-header">
			<h1 id="page-title">{{ .Data.Singular | title }}: {{ .Title }}</h1>
		</header>
		{{- end -}}
	{{ partial "content.html" $ }}
    {{- if (or (not (isset .Params "hide_list")) (not .Params.hide_list)) -}}
  		{{- range .Paginator.Pages -}}
  		  {{ partial "list_item.html" (dict "Page" . "Root" $) }}
  		{{- end -}}
      {{ partial "pagination.html" (dict "Paginator" .Paginator "Root" $) }}
    {{- end -}}
  </main>
{{- end -}}
